<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link rel="icon" href="/images/logo.jpg">
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="/css/app.css"
          rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.jpg" class="rounded app-img-cls" alt="Cinque Terre">Registration and Login System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-success">You've successfully registered
                    to our app!
                </div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger" th:text="${param.error}">
                </div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                    <div class="form-group mb-3">
                        <label class="form-label">First Name</label>
                        <input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Enter first name"
                               th:field="*{firstName}"
                               type="text"
                        />
                        <p th:errors="*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Enter last name"
                               th:field="*{lastName}"
                               type="text"
                        />
                        <p th:errors="*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Address</label>
                        <textarea class="form-control"
                                  id="address"
                                  name="address"
                                  placeholder="Enter address"
                                  th:field="*{address}"
                                  rows="4"
                                  cols="50"
                        ></textarea>
                        <p th:errors="*{address}" class="text-danger"
                           th:if="${#fields.hasErrors('address')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">City</label>
                        <input class="form-control"
                               id="city"
                               name="city"
                               placeholder="Enter city"
                               th:field="*{city}"
                               type="text"
                        />
                        <p th:errors="*{city}" class="text-danger"
                           th:if="${#fields.hasErrors('city')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Zipcode</label>
                        <input class="form-control"
                               id="zipcode"
                               name="zipcode"
                               placeholder="Enter zipcode"
                               th:field="*{zipcode}"
                               type="text"
                        />
                        <p th:errors="*{zipcode}" class="text-danger"
                           th:if="${#fields.hasErrors('zipcode')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">State</label>
                        <input class="form-control"
                               id="state"
                               name="state"
                               placeholder="Enter state"
                               th:field="*{state}"
                               type="text"
                        />
                        <p th:errors="*{state}" class="text-danger"
                           th:if="${#fields.hasErrors('state')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">SSN</label>
                        <input class="form-control"
                               id="ssn"
                               name="ssn"
                               placeholder="Enter ssn"
                               th:field="*{ssn}"
                               type="text"
                        />
                        <p th:errors="*{ssn}" class="text-danger"
                           th:if="${#fields.hasErrors('ssn')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Date Of Birth</label>
                        <input class="form-control"
                               id="dob"
                               name="dob"
                               placeholder="Enter date of birth[mm-dd-yyyy]"
                               th:field="*{dob}"
                               type="text"
                        />
                        <p th:errors="*{dob}" class="text-danger"
                           th:if="${#fields.hasErrors('dob')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">User Name</label>
                        <input class="form-control"
                               id="userName"
                               name="userName"
                               placeholder="Enter user name"
                               th:field="*{userName}"
                               type="text"
                        />
                        <p th:errors="*{userName}" class="text-danger"
                           th:if="${#fields.hasErrors('userName')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control"
                               id="password"
                               name="password"
                               placeholder="Enter password"
                               th:field="*{password}"
                               type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-check-input" type="checkbox"
                               id="consentFlag"
                               name="consentFlag"
                               th:checked="*{consentFlag}"
                        />
                        <label class="form-label">Consent Flag</label>
                        <p th:errors="*{consentFlag}" class="text-danger"
                           th:if="${#fields.hasErrors('consentFlag')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
                             here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>